@page
@model IndexModel
@{
    ViewData["Title"] = "Adam Castle Projects";
}

<div class="text-center" style="color:white">
    <h1 class="display-4 font-weight-bold">Adam Castle</h1>  
    <h3>Projects</h3>
</div>
<div class="container">
    <div class="row gutters-sm mt-4">
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <h4><a href="https://www.makeyourownsurvey.com/">MakeASurvey</a></h4>
                        <p><em>ReactJS</em></p>

                        <img src="~/Images/survey.png" />
                        <br />
                        <br />
                        <div class="text-left">
                            @*<h6>What it does:</h6>*@
                            <br />
                            <ul>
                                <li>Create a multiple-choice survey for people to take</li>
                                <li>Created surveys are inputted into an online database through an API</li>
                                <li>Users can edit existing surveys</li>
                                <li>Surveys can be any size</li>
                                <li>Surveys can be taken using the "TakeASurvey" app</li>

                            </ul>
                            <br />
                            <h6>Languages & Frameworks:</h6>
                            <br />
                            <ul>
                                <li>React JS front end</li>
                                <li>Web API back-end with C# ASP.NET</li>
                                <li>Data access with Entity Framework Core</li>  
                                <li>Connected to a SQL database and hosted <a href="https://www.makeyourownsurvey.com/">here</a></li>
                            </ul>
                        </div>
                        <p><a href="https://github.com/AdamGCastle/MakeASurvey">See Project on GitHub</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <h4><a href="https://takeasurvey.azurewebsites.net">TakeASurvey</a></h4>
                        <p><em>Angular</em></p>

                        <img src="~/Images/survey.png" />
                        <br />
                        <br />
                        <div class="text-left">
                            @*<h6>What it does:</h6>*@
                            <br />
                            <ul>
                                <li>Take surveys which were created using "MakeASurvey"</li>
                                <li>Answers are inputted into an online database through an API</li>
                                <li>Once you have taken the survey, you can see previous responses</li>
                            </ul>
                            <br />
                            <h6>Languages & Frameworks:</h6>
                            <br />
                            <ul>
                                <li>Angular front end</li>
                                <li>Web API back-end with C# ASP.NET</li>
                                <li>Data access with Entity Framework Core</li>
                                <li>Connected to a SQL database and hosted <a href="https://takeasurvey.azurewebsites.net">here</a></li>
                            </ul>
                        </div>
                        <p><a href="https://github.com/AdamGCastle/TakeASurvey">See Project on GitHub</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <h4>CastleLibrary (2022)</h4>
                        <p><em>ASP.NET MVC</em></p>
                        <img src="~/Images/booksPhoto.jpg" />
                        <br />
                        <br />
                        <div class="text-left">
                            <h6>Function</h6>
                            <br />
                            <ul>
                                <li>WebApp designed to help a librarian manage book loans</li>
                                <li>Books are taken out, returned, and fines generated</li>
                                <li>Users blocked for not returning books</li>
                                <li>All records of loans, users, books, and authors support CRUD operations</li>
                            </ul>
                            <br />
                            <h6>Languages & Frameworks</h6>
                            <br />
                            <ul>
                                <li>MVC front end structure</li>
                                <li>ASP.NET Core back end</li>
                                <li>Data access with Entity Framework Core (Code-First)</li>
                                <li>LINQ queries</li>                                
                                <li>Connected to a MySQL database>here</a></li>                                
                            </ul>
                        </div>
                        <p><a href="https://github.com/AdamGCastle/BookCatalogMVC">See Project on GitHub</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <h4>TeacherAdmin (2022)</h4>
                        <p><em>Razor Pages</em></p>
                        <br />
                        <br />
                        <img src="~/Images/TeacherHat3.png" />
                        <br />
                        <br />
                        <div class="text-left">
                            <h6>Function</h6>
                            <br />
                            <ul>
                                <li>WebApp designed to help a teacher keep track of lesson schedules, student details, and student performance</li>
                                <li>Teacher user can create and alter details of each individual student and create and alter lesson plans</li>
                            </ul>
                            <br />
                            <h6>Languages & Frameworks</h6>
                            <br />
                            <ul>
                                <li>Razor Pages front end tools</li>
                                <li>ASP.NET Core back end</li>
                                <li>Data access with Entity Framework Core (Code-First)</li>
                                <li>LINQ queries</li>
                                <li>Connected to a MySQL database</li>
                                <li>Bootstrap styling</li>
                            </ul>
                        </div>                        
                        <p><a href="https://github.com/AdamGCastle/TeacherAdmin">See Project on GitHub</a></p>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
