@page
@model AdamCastleCV.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}
<div class="text-center" style="color:white">
    <h1 class="display-4 font-weight-bold">Profile</h1>
    <br />
</div>
<div class="container">
    <div class="row gutters-sm mt-4">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column text-left">
                        <div class="row">
                            <div class="col-md-4 font-weight-bold">
                                <p>Name: </p>
                                <p>Nationality: </p>                                
                                <p>Experience: </p>
                                <br />
                                <p>Education: </p>
                            </div>
                            <div class="col-md-8">
                                <p>Adam Castle</p>
                                <p>British</p>                                
                                <p>1.5 years of self-study using online resources, particularly Codecademy Pro</p>
                                <p>University of Southampton: BA in Music (with Languages)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="font-weight-bold">Skillset: </p>
                            </div>
                            <div class="col-md-8 text-left">
                                <p><strong>Back End</strong></p>
                                <ul style="list-style-type: none; padding: 0; margin: 0">
                                    <li>C# ASP.NET</li>
                                    <li>Entitity Framework Core</li>
                                    <li>SQL</li>
                                    <li>REST API</li>  
                                </ul>
                                <br />
                                <p><strong>Front End</strong></p>
                                <ul style="list-style-type: none; padding: 0; margin: 0">
                                    <li>React JS</li>
                                    <li>Angular</li>
                                    <li>MVC</li>
                                    <li>Razor Pages</li>
                                    <li>JavaScript</li>
                                    <li>CSS Bootstrap</li>
                                </ul>
                                <br />
                                <p><strong>Workflow</strong></p>
                                <ul style="list-style-type: none; padding: 0; margin: 0">
                                    <li>Git & GitHub</li>
                                </ul>


                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-md-4">
                                <br />
                                <p class="font-weight-bold">Contact: </p>
                            </div>
                            <div class="col-md-8">
                                <br />
                                <p><a href="mailto:adamgcastle@gmail.com">adamgcastle@gmail.com</a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
